@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body{
    height: 100%;
    padding: 0;
    background-color: #23252C;
    color: white;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

@media (min-height: 768px) {
    #root {
        align-items: center;
        height: 100%;
    }
}

.App {
    width: 300px;
    font-family: 'Inter', sans-serif;
    background-color: #1A1B21;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

a {
    text-decoration: none;
}